@media (max-width: 935px) {
  .content-container {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .content-container {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .content-container {
    font-size: 12px;
  }
}
