@media (max-width: 935px) {
  nav {
    .nav-container {
      width: 90%;
    }
  }
}

@media (max-width: 650px) {
  nav {
    .nav-container {
      width: 90%;
    }
  }
}

@media (max-width: 500px) {
  nav {
    .nav-container {
      width: 90%;
      .nav-links-container {
        a {
          margin-left: 16px;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  nav {
    .nav-container {
      width: 95%;
      .nav-links-container {
        a {
          margin-left: 12px;
        }
      }
    }
  }
}
