.calorie-meter-container {
  p {
    font-size: 36px;
    color: #757575;
    &.not-good {
      color: red;
    }
  }

  .divide {
    background: #757575;
    border-radius: 2px;
    border-style: none;
    height: 3px;
  }

  text-align: center;
}
