.login-inputs-container {
  text-align: center;
  width: 40%;
  height: 30vh;
  margin: 0 auto;
  .input {
    margin-bottom: 40px;
  }
  h2 {
    font-size: 20px;
    color: $primary-text;
    margin: 40px 0;
  }
  Button {
    width: 40%;
  }
}
