/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

.content-container {
  width: 60%;
  margin: auto;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App .content-container {
  flex: 1 0 auto;
}
.App .footer-container {
  background: #84ceeb;
  flex-shrink: 0;
}
.App .footer-container footer {
  flex-shrink: 0;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.App .footer-container footer div {
  width: 140px;
  padding-bottom: 10px;
}
.App .footer-container footer a {
  display: block;
  color: #8860d0;
  text-decoration: none;
}

nav {
  top: 0;
  width: 100%;
  margin: 0;
  height: 36px;
  background: #84ceeb;
  z-index: 1002;
}
nav .nav-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
nav .nav-container h1 {
  margin: 10px 0;
}
nav .nav-container .nav-links-container {
  margin: 10px 0;
}
nav .nav-container .nav-links-container a {
  margin-left: 40px;
  color: #2e2e2e;
  text-decoration: none;
}
nav .nav-container .nav-links-container a:hover {
  color: #8860d0;
}

.login-inputs-container {
  text-align: center;
  width: 40%;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-inputs-container h2 {
  font-size: 20px;
  color: #2e2e2e;
}
.login-inputs-container Button {
  width: 40%;
}

@media (max-width: 935px) {
  .content-container {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .content-container {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .content-container {
    font-size: 12px;
  }
}
@media (max-width: 935px) {
  nav .nav-container {
    width: 90%;
  }
}
@media (max-width: 650px) {
  nav {
    font-size: 14px;
  }
  nav .nav-container {
    width: 90%;
  }
}
@media (max-width: 450px) {
  nav {
    font-size: 12px;
  }
  nav .nav-container {
    width: 90%;
  }
  nav .nav-container .nav-links-container a {
    margin-left: 20px;
  }
}
@media (max-width: 650px) {
  .App .footer-container {
    font-size: 14px;
  }
  .App .footer-container footer {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .App .footer-container {
    font-size: 12px;
  }
  .App .footer-container footer {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .login-inputs-container {
    width: 60%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=App.css.map */
